{%- liquid
  assign height = auto
  assign sizes = '100vw'
  assign widths = '375, 550,750,950,1150,1250,1450,1650,1850,2250,2550,3850,5500'
  assign fetch_priority = 'high'
-%}
<div class="full-banner-section">
  {% liquid
      assign desktop_banner = section.settings.image
      assign mobile_banner = section.settings.mobile_image | default: section.settings.image      
  %}
  {% if desktop_banner != blank %}
    <div class="mobile-hide">
      {{
          desktop_banner
          | image_url: width: 5500
          | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
      }}
    </div>
   {% endif %}

  {% if mobile_banner != blank %}
    <div class="desktop-hide">
      {{
          mobile_banner
          | image_url: width: 5500
          | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
      }}
    </div>
   {% endif %}
</div>
{% schema %}
  {
    "name": "Full Banner",
    "settings": [
      {
        "type": "image_picker",
        "id":"image",
        "label": "Desktop Banner"
      },
      {
        "type": "image_picker",
        "id":"mobile_image",
        "label": "Mobile Banner"
      }
    ],
    "presets": [
      {
        "name": "Full Banner"
      }
    ]
  }
{% endschema %}